.jumbotron li {
	padding-top: 15px;
	font-size: 15pt;
}

.jumbotron p {
	font-size: 13pt;
}

.jumbotron h4 {
	padding-top: 0;
	margin-top: 0;
}

small {
	font-size:10pt !important;
}

.nav-item {
	padding-top: 20px;
	font-size: 20pt;
	padding-bottom: 0;
}

.title {
	font-size: 25pt;
	color: rgb(80, 80, 80);
}

.face {
	width: 50px;
	height: 50px;
	margin: -10px 10px 0 0;
	display: inline;
	border: 1px solid black;
	border-radius: 10%;
}

.resume {
	padding: 10px;
	border: 1px solid black;
}