
body {
    padding-bottom: 20px;
    padding-top: 20px;
}
.navcontainer {
    padding-top: 50px;
}
li {
	font-style: bold;
	font-size: 20pt;
}

.btn-primary {
	margin: 5px
}

.right {
	text-align: right;
	float: right;
}